body{
  width:450px;
  overflow-x: hidden;
}
#donate-tab li{
  color:blue;
}
.border{
    border-top: solid 1px;
    border-bottom: solid 1px;
    margin-bottom: -1px;
}
#NG-List-tab,#donate-tab,#update-tab{
  display:none;
}
#menu-button span,.twitter{
  width: auto;
  float: right;
}

.twitter{
  background-color: #00aced;
  color:white;
  text-decoration	:none;
}
