body{
  width:450px;
  overflow-x: hidden;
}
#donate-tab li{
  color:blue;
}
.border{
    border-top: solid 1px;
    border-bottom: solid 1px;
    margin-bottom: -1px;
}
#NG-List-tab,#donate-tab,#update-tab{
  display:none;
}
#menu-button span{
  width: auto;
  float: right;
}
